body{
font-family:Arial;
background:#f4f4f4;
padding:20px;
}
.product{
background:white;
padding:15px;
margin:10px;
border-radius:10px;
}
button{
padding:10px;
background:black;
color:white;
border:none;
border-radius:5px;
}
input{
display:block;
margin:10px 0;
padding:10px;
}
